<%= link_to "Main Page", root_path %>
<h1>Survey for minpaku_id: <%= @minpaku_id %></h1>
<h2>アンケート項目</h2>
<%= form_tag(survey_answer_path, method: :post) do %>
<%= hidden_field_tag :minpaku_id, @minpaku_id %>
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>質問</th>
      <th>あてはまる</th>
      <th>あてはまらない</th>
    </tr>
  </thead>
  <tbody>
    <% @survey_list.each do |survey| %>
    <tr>
      <th><%= survey.id %></th>
      <th><%= survey.survey_name %></th>
      <th><%= radio_button_tag "survey_#{survey.id}", 1 %></th>
      <th><%= radio_button_tag "survey_#{survey.id}", 0 %></th>
    </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag %>
<% end %>