<!DOCTYPE html>
<html>

<head>
  <title>MinpakuServer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <div id="top-bar">
    <div id="logo">
      <img src="/assets/main/Logo00.png" width="200" height="200" />
    </div>

    <div id="main-title-wrapper">
      <div id="main-title-text">
        大田区 民泊 MAP
      </div>
    </div>

    <div id="about-page-details">
      <div id="about-wrapper">
        <div class="about_list_wrapper">
          <div id="about" class="about_list">
            レポートについて
          </div>
        </div>
        <div class="about_list_wrapper">
          <div id="privacy-policy-wrapper" class="about_list">
            個人情報保護
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>
</body>

</html>